/* FONT */
@font-face {
  font-family: ff_navbar;
  src: url(./Fonts/Overpass-Bold.ttf);
}
@font-face {
  font-family: ff_headings;
  src: url(./Fonts/Raleway-SemiBold_dsg.ttf);
}
@font-face {
  font-family: ff_text;
  src: url(./Fonts/GothicA1-Light_dsg.ttf);
}

/* root values */
:root {
  --mainTransition: all 0.3s linear;
  --mainBlack: black;
  --colorMain: #a27400;
  --navColor: #fffff4;
  --mainSpacing: 0.2rem;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--navColor);
}

/* GLOBAL STYLES */
body {
  max-width: 1170px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  font-family: ff_headings;
}
p {
  font-family: ff_text;
}

/* Navbar */

.nav {
  margin: 1rem;
}
.nav-header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.nav-header a {
  color: black;
  font-family: ff_navbar;
  display: inline-block;
  letter-spacing: var(--mainSpacing);
  line-height: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.25rem;
  text-transform: uppercase;
  transition: var(--mainTransition);
}
.nav-header a:hover {
  transform: scale(0.95);
}

.nav-header .nav-btn {
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  transition: var(--mainTransition);
}
.nav-header .nav-btn:hover {
  transform: scale(1.2);
}

.nav-link {
  display: block;
  text-align: center;
  margin: 1rem 0;
  text-transform: capitalize;
  color: var(--mainBlack);
  font-family: ff_headings;
  font-weight: bold;
  transition: all 0.3s ease;
}
.nav-link:hover {
  /* color: white; */
  /* background: rgba(111, 111, 111, 0.3); */
  transform: translateY(-10%);
}

/* Card */

.work {
  margin: 1rem;
  padding: 1rem;
}

.card-img {
  width: 100%;
  opacity: 1;
  transition: var(--mainTransition);
}
.card-img:hover {
  opacity: 0.8;
}

.card-title {
  padding: 1rem 0 0 0;
}
.card-text {
  padding: 0.25rem 0 0 0;
  letter-spacing: 0.1rem;
  text-align: justify;
  margin-bottom: 4rem;
}
.card-link {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  * {
    background: white;
  }
  .nav {
    height: 10rem;
  }
  .nav-header .nav-btn {
    display: none;
  }
  .nav-header a {
    font-size: 1.5rem;
    width: 15rem;
    font-weight: bold;
  }
  #links {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
    align-items: baseline;
  }
  .nav-links {
    margin-right: 1rem;
    /* padding-right: 1rem; */
  }
  .nav-link {
    font-size: 1rem;
    font-weight: inherit;
    color: rgba(0, 0, 0, 0.5);
    align-self: center;
    justify-self: flex-end;
  }
  .nav-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
  }
  .work {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
  }
  .card img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
  }
  .card {
    position: relative;
  }
  .card-text {
    display: none;
  }
  .card-title {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: ff_text;
    font-weight: lighter;
    font-size: 0.75rem;
    color: var(--colorMain);
  }
}
