/* FONT */
@font-face {
  font-family: ff_navbar;
  src: url(./Fonts/Overpass-Bold.ttf);
}
@font-face {
  font-family: ff_headings;
  src: url(./Fonts/Raleway-SemiBold_dsg.ttf);
}
@font-face {
  font-family: ff_text;
  src: url(./Fonts/GothicA1-Light_dsg.ttf);
}

/* root values */
:root {
  --mainTransition: all 0.3s linear;
  --mainBlack: black;
  --navColor: #fffff4;
  --mainSpacing: 0.2rem;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--navColor);
}

/* GLOBAL STYLES */
body {
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  font-family: ff_headings;
}
p {
  font-family: ff_text;
}

/* Navbar */

.nav-links {
  display: none;
}
.nav-icons {
  display: none;
}

.nav {
  /* border: 2px solid red; */
  height: 5rem;
  padding: 1rem;
  display: grid;
  align-items: center;
  transition: var(--mainTransition);
  font-family: ff_navbar;
  font-size: 0.875rem;
  letter-spacing: var(--mainSpacing);
  /* color: var(--navColor); */
}
.nav-center {
  /* border: 2px dashed red; */
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
.nav-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  color: var(--mainBlack);
}
.nav-btn {
  border: transparent;
  background: transparent;
  color: var(--mainBlack);
  font-size: 1.1rem;
  cursor: pointer;
  justify-self: start;
}
.nav-logo {
  justify-self: end;
}

@media screen and (min-width: 600px) {
  .nav {
    background: var(--navColor);
    height: 4rem;
    font-size: 1.25rem;
  }
  .nav-btn {
    display: none;
  }
  .nav-logo {
    width: 100%;
  }
  .nav-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* background: purple; */
    justify-items: center;
    column-gap: 2rem;
  }
  .nav-links a {
    text-transform: capitalize;
    color: var(--mainBlack);
    font-weight: bold;
    letter-spacing: var(--mainSpacing);
    transition: var(--mainTransition);
  }
  .nav-links a:hover {
    transform: translateY(-10%);
  }
  .nav-icons {
    display: grid;
  }
  .nav-icons a {
    color: black;
    transition: var(--mainTransition);
  }
  .nav-icons a:hover {
    transform: translateY(-10%);
  }
  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr auto;
    justify-items: center;
    align-items: center;
  }
}

/* Intro cellphone */
.intro {
  /* border: 2px solid red; */
  display: grid;
  grid-template-rows: 1fr auto;
  row-gap: 0.5rem;
  justify-items: center;
  align-items: center;
}
.hero-img {
  /* margin: 2rem 4rem 0.5rem 4rem; */
  max-width: 85vw;
  height: 60vh;
  object-fit: cover;
  margin: 1rem;
}

.hero-info {
  /* border: 2px solid red; */
  /* max-width: 100%; */
  justify-self: start;
  margin-left: 2.45rem;
}
.hero-title {
  margin-bottom: 0.5rem;
  /* border-bottom: 2px dashed grey; */
}
.hero-text {
  width: 80vw;
  /* border-bottom: 1px dashed black; */
  /* padding: 0 1rem; */
}

/* Intro - Desktop */

@media screen and (min-width: 600px) {
  .intro {
    /* border: 2px solid red; */
    height: calc(100vh - 64px);
    max-width: 1170px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    column-gap: 0rem;
  }
  .hero-img {
    width: auto;
    height: 85vh;
    object-fit: cover;
  }
  . .hero-info {
    width: auto;
    display: grid;
    grid-template-rows: 1fr auto;
    row-gap: 0rem;
    justify-items: center;
    align-items: center;
  }
  .hero-title {
    padding: 0;
    margin-bottom: 1rem;
    width: auto;
  }
  .hero-text {
    padding: 0;
    width: auto;
  }
}
